extends ../layout.pug

block content
   include ../navbar.pug
   -
      function getStateClass(state) {
         if(state==="غير مؤكد"){
            return "bg-gradient-dark text-white rounded p-1"
         }else if(state==="مؤكد"){
            return "bg-gradient-secondary text-white rounded p-1";
         }else if(state==="جاهز"){
            return "bg-gradient-primary text-white rounded p-1";
         }else if( state==="انتظار"){
            return "bg-gradient-primary text-white rounded p-1";
         }else if(state==="في التوصيل"){
            return "bg-gradient-info text-white rounded p-1";
         }else if(state=== "تم الغاءة"){
            return "bg-gradient-danger text-white rounded p-1";
         }else if(state==="رفض الاستلام"){
            return "bg-gradient-danger text-white rounded p-1";
         }else if(state=== "تم الاستلام"){
            return "bg-gradient-success text-white rounded p-1";
         }
      }
   div.container-fluid.py-4
      div.row
         div.col-12
            div.card.mb-4
               div.card-header.pb-0
                  div.d-flex
                     h6="الاوردرات"
                     div.me-auto.d-flex.align-items-start.justify-content-center.flex-wrap
                        if user.role==="OPERATION"||user.role==="ADMIN"
                           button.btn.btn-success.ms-2.d-none.action-btn.ms-1#confirm-changes-btn="تاكيد التغيرات"
                           button.btn.btn-info.ms-2.d-none.action-btn.mx-1#restore-changes-btn="استرجاع التغيرات"
                           button.btn.btn-danger.ms-2.d-none.action-btn.me-1#reset-changes-btn="الغاء التغيرات"
                        if user.role!=="CALL_CENTER"
                           select(name="stateFilter" id="stateFilter" class="form-select select-rtl m-0")
                              option(value="*")="الكل" 
                              option(value="غير مؤكد")="غير مؤكد"
                              option(value="مؤكد")="مؤكد"
                              option(value="جاهز")="جاهز"
                              option(value="انتظار")="انتظار"
                              option(value="في التوصيل")="في التوصيل"
                              option(value="تم الاستلام")="تم الاستلام"
                              option(value="رفض الاستلام")="رفض الاستلام"
                              option(value="تم الغاءة")="تم الغاءة"
               div.card-body.px-0.pt-0.pb-2
                  div.table-responsive.p-0
                     table.table.align-items-center.mb-0
                        thead 
                           tr
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="الكود"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="اسم العميل"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="رقم العميل"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="المحافظة"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="المنطقة"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="العنوان"
                              th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="حالة الاوردر"
                              if user.role==="CALL_CENTER" || user.role==="ADMIN"
                                 th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="تاكيد الاوردر"
                              if user.role==="OPERATION" || user.role==="ADMIN"
                                 th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="تغير حالة الاوردر"
                              if user.role!=="VENDOR"&&user.role!=="AFFILIATE"
                                 th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="ملاحظات العميل"
                              if user.role=="ADMIN"&&user.role=="OPERATION"
                                 th.text-secondary.text-xxs.font-weight-bolder.opacity-7.text-center="ملاحظات الشحن"
                              
                        tbody
                           each order of orders
                              tr(id=order.id)
                                 td.align-middle.text-center
                                    a(href=`/order/${order.orderCode}` class="link-info")=order.orderCode
                                 td.align-middle.text-center=order.clientName
                                 td.align-middle.text-center=order.clientPhone
                                 td.align-middle.text-center=order.clientGov
                                 td.align-middle.text-center=order.clientCity
                                 td.align-middle.text-center=order.clientAddress
                                 td(class=`align-middle text-center `)
                                    p(class=`${getStateClass(order.orderState)} mb-0`)=order.orderState
                                 if (user.role==="CALL_CENTER" || user.role==="ADMIN")
                                    td.align-middle.text-center
                                       if order.orderState==="غير مؤكد"
                                          button(type="button" class="btn btn-outline-success rounded confirm-order-btn mb-0" data-orderId=order.id)
                                             i.fa.fa-check-square
                                       
                                 if user.role==="OPERATION" || user.role==="ADMIN"
                                    td.align-middle.text-center
                                       if !["تم الاستلام","DELIVERED","تم الغاءة","رفض الاستلام","CANCELED","REFUSED"].includes(order.orderState)
                                          select(class="form-select form-select-sm select-rtl order-state-select" data-orderId=order.id)
                                             option(style='display:none')="حالة الاوردر"
                                             each state of ["جاهز","في التوصيل","تم الغاءة","رفض الاستلام","انتظار","تم الاستلام"]
                                                   if state!==order.orderState
                                                      option(value=state)=state
                                 if user.role!=="VENDOR"&&user.role!=="AFFILIATE"
                                    td.align-middle.text-center=order.clientNotes
                                 if user.role=="ADMIN"&&user.role=="OPERATION"
                                    td.align-middle.text-center=order.deliveryNotes
               if next!==-1
                  button(id="loadMore" class="btn btn-info bg-gradient-info" data-next=next)="اظهر المزيد"
block append scripts
   script.
      $(document).ready(function(){
         const confirmOrdersEvent = function(){
            $(".confirm-order-btn").each(function(idx,btn){
               $(btn).on("click",function(){
                  const orderId = $(btn).data("orderid");
                  const success = (response)=>{
                     const row = $(`#${orderId}`)
                     slideAnimation(row,"tbody")
                  }
                  requestHandler(`/api/order/${orderId}/confirm`,"PUT",success,handleRequestErrors)
               })
            })
         }
         const orderStateSelectEvent = function(){
            $(".order-state-select").on("change",function(){
               const order = $(this)
               ordersStateChanges[order.data("orderid")] = order.val()
               localStorage.setItem("states",JSON.stringify(ordersStateChanges))
               if($("#confirm-changes-btn,#reset-changes-btn").hasClass("d-none")){
                  $("#confirm-changes-btn,#reset-changes-btn").removeClass("d-none")
               }
            })
         }
         orderStateSelectEvent()
         confirmOrdersEvent()
         if(localStorage.hasOwnProperty("states")){
            $("#restore-changes-btn,#reset-changes-btn").removeClass("d-none")

         }

         function renderOrderRow(order, user) {
            const stateClass = getStateClass(order.orderState);
            let confirmButton = '';
            let stateSelect = '';
            let clientNotes = '';
            let deliveryNotes = '';
            if ((user.role === 'CALL_CENTER' || user.role === 'ADMIN')) {
               let btn = ``
               if(order.orderState === 'غير مؤكد'){
                  btn = `<button type="button" class="btn btn-outline-success rounded confirm-order-btn mb-0" data-orderId="${order.id}">
                  <i class="fa fa-check-square"></i>
               </button>`
               }
               confirmButton = `<td class="align-middle text-center">
                  ${btn}
               </td>`;
            }
            if (user.role === 'OPERATION' || user.role === 'ADMIN') {
               const orderStates = ['جاهز','في التوصيل','تم الغاءة','رفض الاستلام','انتظار','تم الاستلام'];

               stateSelect = `<td class="align-middle text-center"><select class="form-select form-select-sm select-rtl order-state-select" data-orderId="${order.id}">
                  <option style="display:none">حالة الاوردر</option>
                  ${orderStates.map(state => {
                     if (state !== order.orderState) {
                        return `<option value="${state}">${state}</option>`;
                     }
                     return '';
                  }).join('')}
                  </select></td>
               `;
            }
            if(user.role!=="VENDOR"&&user.role!=="AFFILIATE"){
               clientNotes = `<td class="align-middle text-center">${order.clientNotes||""}</td>`
            }
            if(user.role==="ADMIN"&&user.role==="OPERATION"){
               deliveryNotes = `<td class="align-middle text-center">${order.deliveryNotes||""}</td>`
            }

            return `
               <tr id="${order.id}">
                  <td class="align-middle text-center">
                    <a href="/order/${order.orderCode}" class="link-info">${order.orderCode}</a>
                  </td>
                  <td class="align-middle text-center">${order.clientName}</td>
                  <td class="align-middle text-center">${order.clientPhone}</td>
                  <td class="align-middle text-center">${order.clientGov}</td>
                  <td class="align-middle text-center">${order.clientCity}</td>
                  <td class="align-middle text-center">${order.clientAddress}</td>
                  <td class="align-middle text-center">
                  <p class="${stateClass} mb-0">${order.orderState}</p>
                  </td>
                  ${confirmButton}
                  ${stateSelect}
                  ${clientNotes}
                  ${deliveryNotes}
               </tr>
            `;
         }
         $("#loadMore").on("click",function(){
            const btn = $(this)
            const state = $("#stateFilter").val()
            const success = (response)=>{
               btn.data("next",response.next)
               if(response.next===-1){
                  showToast("لا يوجد المزيد من الاوردارت")
                  $(this).addClass("d-none")
               }
               const orders = response.orders.map(order=>{
                  return renderOrderRow(order,response.user)
               })
               $("tbody").append(orders)
               confirmOrdersEvent()
               orderStateSelectEvent()
            }
            requestHandler(`/orders?state=${state}&cursor=${btn.data("next")}`,"GET",success,handleRequestErrors,{},{headers:{Accept:"application/json"}})
         })
         let ordersStateChanges = {}
         const resetChanges = ()=>{
            $(".order-state-select").prop('selectedIndex', 0);
            ordersStateChanges = {};
            localStorage.removeItem("states")
            $(".action-btn").addClass("d-none")
         }
         $("#confirm-changes-btn").on("click",function(){
            const success = (response)=>{
               for(const [id,state] of Object.entries(ordersStateChanges)){
                  const classList = getStateClass(state)
                  $(`#${id}`).find("td:eq(6) p").removeClass().addClass(classList).text(state)
               }
            }
            const toDelete = []
            const toUpdate = []

            for(const [id,state] of Object.entries(ordersStateChanges)){
               if(["تم الغاءة","رفض الاستلام","REFUSED","CANCELED"].includes(state)){
                  toDelete.push({id,state})
               }else{
                  toUpdate.push({id,state})
               }
            }
            requestHandler(`/api/orders/state`,"PUT",success,handleRequestErrors,{orders:toUpdate})
            requestHandler(`/api/orders`,"DELETE",success,handleRequestErrors,{orders:toDelete})
            resetChanges()
         })
         $("#reset-changes-btn").on("click",function(){
            resetChanges()
         })
         $("#restore-changes-btn").on("click",function(){
            const states = JSON.parse(localStorage.getItem("states"))
            for(const [id,state] of Object.entries(states)){
               const select = $(`#${id}`).find("select");
               select.prop("selectedIndex",["جاهز","في التوصيل","تم الغاءة","رفض الاستلام","انتظار","تم الاستلام"].indexOf(state)||0)
            }
            $(this).addClass("d-none")
            $("#reset-changes-btn").removeClass("d-none")
            $("#confirm-changes-btn").removeClass("d-none")
         })
         $("#stateFilter").on("change",function(){
            const state = $(this).val();
            const success = (response)=>{
               $("tbody").empty();
               console.log(response.user)
               const nextBtn = $("#loadMore")
               console.log(response)
               if(response.next===-1){
                  showToast("لا يوجد المزيد من الاوردارت")
                  !nextBtn.hasClass("d-none")&&nextBtn.addClass("d-none")
               }else{
                  nextBtn.removeClass("d-none")
               }
               nextBtn.data("next",response.next);
               const orders = response.orders.map((order)=>{
                  return renderOrderRow(order,response.user)
               })
               $("tbody").append(orders)
               confirmOrdersEvent()
            }
            requestHandler(`/orders?state=${state}`,"GET",success,handleRequestErrors,{},{headers:{Accept:"application/json"}});
         })
      })
      